    @model IEnumerable<MicroGovern.Models.Request_mng.Request>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RequestIniated)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Details)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MinRate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MaxRate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WorkDueDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WorkableTimeRange)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PicURL)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BidsVisibility)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RequestIniated)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Details)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MinRate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MaxRate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WorkDueDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WorkableTimeRange)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PicURL)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BidsVisibility)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
