@model MicroGovern.Models.Responses_mng.Response

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Response</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.BidPosted)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BidPosted)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Proposal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Proposal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProposedPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProposedPrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProposedWorkStartTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProposedWorkStartTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProposedWorkEndTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProposedWorkEndTime)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
