@model IEnumerable<MicroGovern.Models.Responses_mng.Response>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.BidPosted)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Proposal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProposedPrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProposedWorkStartTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProposedWorkEndTime)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.BidPosted)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Proposal)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProposedPrice)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProposedWorkStartTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProposedWorkEndTime)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
